<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="fixed">
           <div class="icons_ai">
        <a href=""><img src="../static/img/AI.png" width="40px" height="40px" alt=""></a>
    </div>
        <div class="guanwang">智脑
            <p1>
                丨
            </p1>
            <div class="En">IntelligentBrain</div>
        </div>
        <div class="aistudio"><a href="https://aistudio.baidu.com/aistudio/index" target="_blank">访问AIStudio官网</a></div>
        <div class="feijiang"><a href="https://www.paddlepaddle.org.cn/" target="_blank">访问飞桨官网</a></div>
        <div class="icons_admin">
            <a href="./login&register.html"><img src="../static/img/admin.png" width="38px" height="38px" alt=""></a>
        </div> 
    </div>  
    <article class="container">
        <header>
            <div class="name">
                <h1>IntelligentBrain</h1>
            </div>
            <h1>基于PaddleRs的遥感影像智能解译平台</h1>
            <div class="tiyan">
                <div>
                    <a href="./login&register.html">体验网站</a>
                </div>
            </div>
        </header> 
        <div class="banner">
            <div class="warp">
                <div class="item"><img src="../static/img/table1.jpg" alt=""></div>
                <div class="item"><img src="../static/img/table2.jpg" alt=""></div>
                <div class="item"><img src="../static/img/table3.jpg" alt=""></div>
                <div class="item"><img src="../static/img/table4.jpg" alt=""></div>
            </div>
            <div class="div-left">
                &lt;</div> <div class="div-right ">&gt;
            </div>
            <!-- 小圆点 -->
            <div class="pagenation">
                <div id="pagenation-item0"></div>
                <div id="pagenation-item1"></div>
                <div id="pagenation-item2"></div>
                <div id="pagenation-item3"></div>
            </div>
        </div>
        <div class="introduction">
            <p>
                IntelligentBrain将卫星图像转化为有意义的见解。
            </p>
        </div>
        <div class="introduction-img">
            <div class="img1"><img src="../static/img/1.jpg" alt="" width="400px" height="400px"></div>
            <div class="img2"><img src="../static/img/2.png" alt="" width="400px" height="400px"></div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <img src="../static/img/AI.png" width="40px" height="40px" alt=""></a>
                <div class="guanwang">智脑
                <p1>
                丨
                </p1>
                    <div class="En">IntelligentBrain</div>
                </div>
            </div>
        </div>
</body>
<script>
        var index = 0; //定义初始下标
        var banner = document.getElementsByClassName("banner")[0];
        var itemList = document.getElementsByClassName("item");
        var pagenationList = document.querySelectorAll(".pagenation>div");
        var pagenation = document.querySelector(".pagenation");
        itemList[0].style.opacity = 1;
        pagenationList[0].style.background = "black" //初始第一张图对应的小圆点的颜色为蓝色
        var up = document.getElementsByClassName("div-left")[0];
        var next = document.getElementsByClassName("div-right")[0];
        //下一张图片（封装方便下面自动播放定时器调用）
        function nextFn() {
            index = index >= itemList.length - 1 ? 0 : ++index; //判断点击到了最后一张图片再次点击返回到第一张图
            for (var i = 0; i < itemList.length; i++) {
                itemList[i].style.opacity = 0; //图片透明度为0图片隐藏
                pagenationList[i].style.background = "white " //图片没显现小圆点的颜色为白色
            }
            itemList[index].style.transition = "opacity 1s ease .2s"
            itemList[index].style.opacity = 1; //图片透明度为1图片显现
            pagenationList[index].style.background = "#383838" //图片显现小圆点的颜色为蓝色
        }
        next.onclick = nextFn; //下一张（点击事件）点击切换下一张图片
        up.onclick = function () { //上一张（点击事件）点击切换上一张图片
            index = index <= 0 ? itemList.length - 1 : --index; //判断点击到了第一张图片再次点击返回到最后一张图
            for (var i = 0; i < itemList.length; i++) {
                itemList[i].style.opacity = 0;
                pagenationList[i].style.background = "white"
            }
            itemList[index].style.transition = "opacity 1.8s ease .2s" //增加过渡效果
            itemList[index].style.opacity = 1;
            pagenationList[index].style.background = "#383838"
        }
        //设置定时器，自动向下播放图片
        var t1 = setInterval(nextFn, 2000) 
        banner.onmouseover = function () {
            clearInterval(t1);
        }
        banner.onmouseout = function () {
            t1 = setInterval(nextFn, 2000)
        }
        // 事件委托
        pagenation.onclick = function (event) {
            event = window.event || event
            console.log(event);
            if (event.target.className === "pagenation") {
                console.log("点击的是父元素");
            } else {
                var id = event.target.id;
                var photoIndex = null;
                for (var i = 0; i < pagenationList.length; i++) {
                    pagenationList[i].style.background = "white"
                    if (id.indexOf(i) >= 0) {
                        photoIndex = i;
                    }
                }
                event.target.style.background = "#383838"
                index = photoIndex; // 将小圆点对应的下标与图片下标对应
                for (var i = 0; i < itemList.length; i++) {
                    itemList[i].style.opacity = 0;
                }
                itemList[index].style.transition = "opacity .8s ease .5s"
                itemList[photoIndex].style.opacity = 1;
            }
        }
</script>
</html>